{% extends '@Contao/fe_page.html5' %}

{% set headerContainerAttributes = attrs()
    .addClass('header__container')
    .addClass('section-container')
    .addClass(responsiveContainerSizeHeader|default(''))
    .mergeWith(headerContainerAttributes|default(null))
%}
{% set headerWrapperAttributes = attrs()
    .addClass('header__wrapper')
    .addClass(getRowClass())
    .mergeWith(headerWrapperAttributes|default(null))
%}

{% set contentsContainerAttributes = attrs()
    .addClass('contents__container')
    .addClass('section-container')
    .addClass(responsiveContainerSize|default(''))
    .mergeWith(contentsContainerAttributes|default(null))
%}
{% set contentsWrapperAttributes = attrs()
    .addClass('contents__wrapper')
    .addClass(getRowClass())
    .mergeWith(contentsWrapperAttributes|default(null))
%}
{% set mainWrapperAttributes = attrs()
    .addClass('main__wrapper')
    .addClass(getRowClass())
    .mergeWith(mainWrapperAttributes|default(null))
%}
{% set leftWrapperAttributes = attrs()
    .addClass('left__wrapper')
    .addClass(getRowClass())
    .mergeWith(leftWrapperAttributes|default(null))
%}
{% set rightWrapperAttributes = attrs()
    .addClass('right__wrapper')
    .addClass(getRowClass())
    .mergeWith(rightWrapperAttributes|default(null))
%}

{% set footerContainerAttributes = attrs()
    .addClass('footer__container')
    .addClass('section-container')
    .addClass(responsiveContainerSizeFooter|default(''))
    .mergeWith(footerContainerAttributes|default(null))
%}
{% set footerWrapperAttributes = attrs()
    .addClass('footer__wrapper')
    .addClass(getRowClass())
    .mergeWith(footerWrapperAttributes|default(null))
%}

{% block header %}
    {% if header %}
        <header id="header" class="header">
            <div{{ headerContainerAttributes }}>
                <div class="header__inside inside">
                    <div{{ headerWrapperAttributes }}>
                        {{ header|raw }}
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{% block container %}
    <div id="container" class="contents">
        <div{{ contentsContainerAttributes }}>
            <div class="contents__inside inside">
                <div{{ contentsWrapperAttributes }}>

                    {% block main %}
                        <main id="main" class="main contents__area {{ responsiveColsMain|join(' ') }}">
                                <div class="main__inside inside">
                                    <div{{ mainWrapperAttributes }}>
                                        {{ main|raw }}
                                    </div>
                                </div>
                            {{ contao_section('main') }}
                        </main>
                    {% endblock %}

                    {% block left %}
                        {% if left %}
                            <aside id="left" class="left contents__area {{ responsiveColsLeft|join(' ') }}">
                                <div class="left__inside inside">
                                    <div{{ leftWrapperAttributes }}>
                                        {{ left|raw }}
                                    </div>
                                </div>
                            </aside>
                        {% endif %}
                    {% endblock %}

                    {% block right %}
                        {% if right %}
                            <aside id="right" class="right contents__area {{ responsiveColsRight|join(' ') }}">
                                <div class="right__inside inside">
                                    <div{{ rightWrapperAttributes }}>
                                        {{ right|raw }}
                                    </div>
                                </div>
                            </aside>
                        {% endif %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock container %}

{% block footer %}
    {% if footer %}
        <footer id="footer" class="footer">
            <div{{ footerContainerAttributes }}>
                <div class="footer__inside inside">
                    <div{{ footerWrapperAttributes }}>
                        {{ footer|raw }}
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock %}
