{% extends '@Contao/fe_page.html5' %}

{% block header %}
    {% if header %}
        <header id="header" class="header">
            <div class="header__container section-container {{ responsiveContainerSizeHeader }}">
                <div class="header__inside inside">
                    <div class="header__wrapper row">
                        {{ header|raw }}
                    </div>
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}

{% block container %}
    <div id="container" class="contents">
        <div class="contents__container section-container {{ responsiveContainerSize }}">
            <div class="contents__inside inside">
                <div class="contents__wrapper row">

                    {% block main %}
                        <main id="main" class="main contents__area {{ responsiveColsMain|join(' ') }}">
                                <div class="main__inside inside">
                                    <div class="main__wrapper row">
                                        {{ main|raw }}
                                    </div>
                                </div>
                            {{ contao_section('main') }}
                        </main>
                    {% endblock %}

                    {% block left %}
                        {% if left %}
                            <aside id="left" class="left contents__area {{ responsiveColsLeft|join(' ') }}">
                                <div class="left__inside inside">
                                    <div class="left__wrapper row">
                                        {{ left|raw }}
                                    </div>
                                </div>
                            </aside>
                        {% endif %}
                    {% endblock %}

                    {% block right %}
                        {% if right %}
                            <aside id="right" class="right contents__area {{ responsiveColsRight|join(' ') }}">
                                <div class="right__inside inside">
                                    <div class="right__wrapper row">
                                        {{ right|raw }}
                                    </div>
                                </div>
                            </aside>
                        {% endif %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock container %}

{% block footer %}
    {% if footer %}
        <footer id="footer" class="footer">
            <div class="footer__container section-container {{ responsiveContainerSizeFooter }}">
                <div class="footer__inside inside">
                    <div class="footer__wrapper row">
                        {{ footer|raw }}
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock %}