{% extends "@Contao/content_element/_base.html.twig" %}

{% set attributes = attributes|default(attrs()).addClass(getAllResponsiveClasses(data|default)).mergeWith(attributes|default) %}
{% set attributes = data|default ? attributes|default(attrs()).addClass(getContainerClasses(data.responsiveContainer|default)).mergeWith(attributes|default) %}

{% set inner_classes = getAllInnerContainerClasses(data|default)|join(" ") %}

{%- block inner %}
    {% if nested_fragments %}
        <div class="content__inside inside {{ inner_classes }}">{{ parent() }}</div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock -%}

{% block content %}
    <div {{ content_attributes }}>
        {{ block('content')|raw }}
    </div>
{% endblock %}